<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Create Post</title>

<script src="https://cdn.tailwindcss.com"></script>

</head>

<body class="bg-black text-white flex items-center justify-center min-h-screen">

<form 
action="/user/post" 
method="POST"  
enctype="multipart/form-data"
class="w-full max-w-md p-5 space-y-5">
<h2 class="text-xl font-semibold text-center">Create Post</h2>
<div class="w-full">
<label class="block mb-2 text-sm">Upload Photo / Video</label>
<input 
type="file" 
name="media"
accept="image/*,video/*"
required
class="w-full bg-zinc-900 p-3 rounded-lg border border-zinc-700"/>
<div>
<label class="block mb-2 text-sm">Caption</label>
<textarea 
name="caption"
rows="3"
placeholder="Write a caption..."
class="w-full bg-zinc-900 p-3 rounded-lg border border-zinc-700 outline-none resize-none"></textarea>
</div>
<button 
type="submit"
class="w-full bg-blue-600 hover:bg-blue-700 transition py-3 rounded-lg font-semibold">
Post
</button>
</form>
</body>
</html>
