<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Instagram Auth UI</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap" rel="stylesheet">
</head>

<body class="bg-gray-100 flex items-center justify-center min-h-screen">

<div class="bg-white border w-80 p-8 text-center">

  <h1 class="text-5xl mb-6" style="font-family:'Grand Hotel',cursive;">
    Instagram
  </h1>

  <!-- LOGIN FORM -->
  <form id="loginForm" class="space-y-3" action="/user/login" method="post">
    <input type="email" placeholder="Phone number, username or email" name="email"
      class="w-full border p-2 text-sm bg-gray-50 rounded">

    <input type="password" placeholder="Password" name="password"
      class="w-full border p-2 text-sm bg-gray-50 rounded">

    <input type="submit" class="w-full bg-blue-500 text-white py-2 rounded font-semibold text-center" value="Log in" >
       </form>

  <!-- SIGNUP FORM -->
  <form id="signupForm" class="space-y-3 hidden">
    <input type="text" placeholder="Mobile Number or Email"
      class="w-full border p-2 text-sm bg-gray-50 rounded">

    <input type="text" placeholder="Full Name"
      class="w-full border p-2 text-sm bg-gray-50 rounded">

    <input type="text" placeholder="Username"
      class="w-full border p-2 text-sm bg-gray-50 rounded">

    <input type="password" placeholder="Password"
      class="w-full border p-2 text-sm bg-gray-50 rounded">

    <button class="w-full bg-blue-500 text-white py-2 rounded font-semibold">
      Sign up
    </button>
  </form>

</div>

<!-- TOGGLE BOX -->
<div class="bg-white border w-80 p-4 text-center mt-3 absolute bottom-10">
  <p id="toggleText">
    Don't have an account?
    <span onclick="toggleForm()" class="text-blue-500 font-semibold cursor-pointer">
      Sign up
    </span>
  </p>
</div>

<script>
const loginForm = document.getElementById("loginForm");
const signupForm = document.getElementById("signupForm");
const toggleText = document.getElementById("toggleText");

function toggleForm(){
  loginForm.classList.toggle("hidden");
  signupForm.classList.toggle("hidden");

  if(loginForm.classList.contains("hidden")){
    toggleText.innerHTML =
      `Have an account?
      <span onclick="toggleForm()" class="text-blue-500 font-semibold cursor-pointer">
        Log in
      </span>`;
  }else{
    toggleText.innerHTML =
      `Don't have an account?
      <span onclick="toggleForm()" class="text-blue-500 font-semibold cursor-pointer">
        Sign up
      </span>`;
  }
}
</script>

</body>
</html>
